/* General Styles */
/* Main Styles */
.chungus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: auto;
    max-width: 1200px;
    margin-top: 40px;
 }
 main h2 {
    font-size: 64px;
    margin-bottom: 20px;
    color: white;
 }
 main h2 span {
    background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   background-image: linear-gradient(to right, #8a2be2, #e94057); /* or any other purple gradient you like */
 }
 main p {
    margin-bottom: 20px;
    font-size: 19px;
    max-width: 600px;
    color: rgb(209, 200, 200);
 }
 main img {
    max-width: 125%;
    height: auto;
    margin-left: 0px;
 }
 
body {
    background: #1b1c1e;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
 }
 a {
    text-decoration: none;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 .btn {
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
 }
 .btn:hover {
    background-color: #3e8e41;
 }
 
 /* Header Styles */
 header {
    background-color: #8a2be2;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
 }
 header h1 {
    margin: 0;
 }
 nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #222;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
 }
 nav ul.open {
    height: auto;
 }
 nav li {
    margin: 10px 0;
 }
 nav a {
    color: white;
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
 }
 nav a:hover {
    background-color: #3e8e41;
 }
 
 .hamburger {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30
 }

 /* Contact Us */

    .contact-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -130px;
        margin-top: 100px;
        color: #ffffff;
        text-decoration: underline;
        text-underline-position: under;
    }

  html, body {
    height: 1100px;
    font-family: 'Balsamiq Sans', sans-serif;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    scale: 90%;
  }

  
  .card {

    padding: 30px 90px 90px 90px;
    border: 6px solid #8a2be2;
    box-shadow: 20px 20px 0 #8a2be2;
    border-radius: 50px;
    position: relative;
  }

  
  .card .row {
    position: relative;
    max-width: 1200px;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
  }
  
  .card .row .col {
    position: relative;
    max-width: 1200px;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
  }
  
  .card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
  }
  
  .card .row .form-group input,
  .card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid #8a2be2;
    box-shadow: 10px 10px 0 #8a2be2;
    color: #ffffff;
    border-radius: 50px;
  }
  
  .card .row .form-group label {
    line-height: 40px;
    color: #ffffff;
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col:nth-child(6) {
    margin-top: 64px;
  }
  
  .card .row .form-group input:focus,
  .card .row .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
  }
  
  .card .row input[type="submit"] {
    border: 5px solid #8a2be2;
    box-shadow: 10px 10px 0 #8a2be2;
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
  }
  
  .card .row input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 1);
    color: #ffffff;
    transition: all 0.4s;
  }
  
  
